# ----------------------
# Backend (Maven) build files
# ----------------------
/backend/target/
**/target/

# ----------------------
# Student Images
# ----------------------
/backend/faces/

# ----------------------
# Frontend (Node.js / JavaScript) build files
# ----------------------
/frontend/node_modules/
**/node_modules/
# If frontend uses a build folder like dist or build
/frontend/dist/
/frontend/build/

# ----------------------
# IDE / Editor files
# ----------------------
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# ----------------------
# OS / Temp files
# ----------------------
.DS_Store
Thumbs.db
*.log
*.lck
*.tmp
*.swp
*~

# ----------------------
# Optional: JetBrains caches
# ----------------------
/out/

# ----------------------
# Ignore all binary files
# ----------------------
*.db
*.db-shm
*.db-wal
*.exe
*.dll
*.so
*.o
*.a
*.class
*.jar
*.pyc
*.pyo
*.bin
*.dat
*.lst
*.log

# ----------------------
# Dataset files
# ----------------------

dataset*/
backend/src/main/resources/firebase-service-account.json